/* FLIPPER */
#htmlflipper {
  position: absolute;
  /* Find these positions from the SVG */
  /*
    top: 254.05px;
    left:705.36px;
    width: 581.73px;
    height: 212.68px;
    */
  // padding: 5px 6px;
  padding: 0.4rem 0.5rem;
  perspective: 800px; }

#htmlflipper .verse.visible {
  display: block; }

#htmlflipper .verse.hidden,
#htmlflipper .flipbox.hidden {
  display: none; }

#htmlflipper .flipbox {
  margin-bottom: .16rem;
  margin-top: .16rem;
  transform-style: preserve-3d;
  transform-origin: bottom center;
  transform: rotateX(0deg);
  height: 4rem;
  width: 52.7rem;
  border: .3rem solid black;
  box-sizing: border-box;
  background-color: #4d4d4d;
  color: gray;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 2rem;
  padding-left: .5rem;
  line-height: 3.4rem; }

#htmlflipper .third_verse .flipbox {
  font-size: 1.78rem;
  padding-left: .3rem; }

#htmlflipper .flipbox.off, .off .turner div {
  background-color: #4d4d4d;
  color: #808080;
  animation: turnoff_flipbox .4s 1 ease-in forwards; }

@keyframes turnoff_flipbox {
  0% {
    border-color: #710000;
    background-color: #cc2d00;
    color: #f7931e; }
  100% {
    border-color: #000000;
    background-color: #4d4d4d;
    color: #808080; } }

#htmlflipper .flipbox.on, .on .turner div {
  background-color: #cc2d00;
  color: #f7931e;
  animation: turnon_flipbox .6s 1 ease-in forwards, flicker_flipbox .2s .6s infinite ease-in-out; }

@keyframes turnon_flipbox {
  0% {
    border-color: #000000;
    background-color: #4d4d4d;
    color: #808080; }
  80% {
    background-color: #d02d00;
    color: #fca846; }
  100% {
    border-color: #710000;
    background-color: #cc2d00;
    color: #f7931e; } }

@keyframes flicker_flipbox {
  0% {
    background-color: #cc2d00; }
  25% {
    background-color: #ce2d00; }
  50% {
    background-color: #cc2d00; }
  75% {
    background-color: #ca2d01; }
  100% {
    background-color: #cc2d00; } }

#htmlflipper .flipbox.move {
  /*  background-color: yellow;   */
  animation-name: move_up;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes move_up {
  0% {
    transform: translateY(0); }
  100% {
    transform: translateY(-4rem); } }

#htmlflipper .flipbox.first.move {
  /*    background-color: red;*/
  animation-name: move_flip;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards; }

@keyframes move_flip {
  0% {
    transform: translateY(0) rotateX(0deg); }
  100% {
    transform: translateY(-4rem) rotateX(90deg); } }
