/**** NEONTEXT ****/

#htmlneontext1 {
    position: absolute;

    box-sizing: border-box;
    padding: 0.6rem 1.1rem;

    font-size: 2.3rem;
    // line-height: 2.7rem; /* necessary for Mac Chrome */
}

.neontext {
    color: #333;
    text-shadow: 0 0 3rem rgba(203, 203, 203, 0.55);
    margin-bottom: 1rem;
}

#htmlneontext2 {
    position: absolute;

    padding: .6rem .7rem;
    box-sizing: border-box;

    font-size: 1.75rem;
    // line-height: 25.2px; /* necessary for Mac Chrome */
}


#htmlneontext2 div {
    margin-top: 1rem;
}

#htmlneontext2 #neonhighlighter {
    margin-top: 0;
}


#htmlneontext1 .neontext.on {
    animation-name: neon_turn_on;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes neon_turn_on {
    0% {
       color: #55002b;
       text-shadow: 0 0 .5rem #444, 0 0 1rem #333
    }
    10% {

    }
    20% {
        color: #ff0080;
        text-shadow: 0 0 .5rem #ff0080;
    }
    30% {
        text-shadow: 0 0 1rem #ff0080;
    }
    40% {
        color: #fff;
        text-shadow: 0 0 2rem #ff0080;
    }
    50% {
        color: #fff;
        text-shadow: 0 0 .5rem #fff, 0 0 2rem #ff0080;
    }
    60% {
        color: #fff;
        text-shadow: 0 0 .5rem #fff, 0 0 2rem #ff0080, 0 0 3rem #ff0080;
    }
    70% {
        color: #fff;
         text-shadow: 0 0 .5rem #fff, 0 0 1rem #fff, 0 0 2rem #ff0080, 0 0 3rem #ff0080;
    }
    80% {
        color: #fff;
        text-shadow: 0 0 .5rem #fff, 0 0 1rem #fff, 0 0 2rem #ff0080, 0 0 3rem #ff0080, 0 0 4rem #ff0080;
    }
    90% {
        color: #fff;
        text-shadow: 0 0 .5rem #fff, 0 0 1rem #fff, 0 0 2rem #ff0080, 0 0 3rem #ff0080, 0 0 4rem #ff0080, 0 0 5rem #ff0080;
    }
    100% {
        color: #fff;
        text-shadow: 0 0 .5rem #fff, 0 0 1rem #fff, 0 0 2rem #ff0080, 0 0 3rem #ff0080, 0 0 4rem #ff0080, 0 0 5rem #ff0080, 0 0 7rem #ff0080;
    }
}

#htmlneontext1 .neontext.off {
    color: #55002b;
    text-shadow: 0 0 .5rem #444, 0 0 1rem #333;

    animation-name: neon_turn_on;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

#htmlneontext2 .neontext.on {
    animation: neon2_turn_on 1s 1 forwards, neon2_on 0.001s 1s infinite alternate;
    /*
     animation-name: neon_turn_on;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    animation-name: neon2_on;
    animation-duration: .01s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    */
}

@keyframes neon2_on {
    0% {
        color: #fff;
        text-shadow: 0 0 .5rem #fff, 0 0 1rem #fff, 0 0 2rem #0080ff, 0 0 3rem #0080ff;
    }

    100% {
        color: #fff;
        text-shadow: 0 0 .5rem #fff, 0 0 1rem #fff, 0 0 2rem #0080ff, 0 0 3rem #0080ff, 0 0 4rem #0080ff;
    }



}

#htmlneontext2 .neontext.off {
    color: #002b55;
    text-shadow: 0 0 .5rem #444, 0 0 1rem #333;

    animation-name: neon2_turn_on;
    animation-duration: .7s;
    animation-iteration-count: 1;
    animation-direction: reverse;
}

@keyframes neon2_turn_on {
    0% {
       color: #002b55;
       text-shadow: 0 0 .5rem #444, 0 0 1rem #333
    }

    10% {

    }

    20% {
        color: #0080ff;
        text-shadow: 0 0 .5rem #0080ff;
    }
    30% {
        text-shadow: 0 0 1rem #0080ff;
    }
    40% {
        color: #fff;
        text-shadow: 0 0 2rem #0080ff;
    }
    50% {
        color: #fff;
        text-shadow: 0 0 .5rem #fff, 0 0 2rem #0080ff;
    }
    60% {
        color: #fff;
        text-shadow: 0 0 .5rem #fff, 0 0 2rem #0080ff, 0 0 3rem #0080ff;
    }
    70% {
        color: #fff;
        text-shadow: 0 0 .5rem #fff, 0 0 1rem #fff, 0 0 2rem #0080ff, 0 0 3rem #0080ff;
    }
    80% {
        color: #fff;
        text-shadow: 0 0 .5rem #fff, 0 0 1rem #fff, 0 0 2rem #0080ff, 0 0 3rem #0080ff, 0 0 4rem #0080ff;
    }
    90% {
        color: #fff;
        text-shadow: 0 0 .5rem #fff, 0 0 1rem #fff, 0 0 2rem #0080ff, 0 0 3rem #0080ff, 0 0 4rem #0080ff, 0 0 5.5rem #0080ff;
    }
    100% {
        color: #fff;
        text-shadow: 0 0 .5rem #fff, 0 0 1rem #fff, 0 0 2rem #0080ff, 0 0 3rem #0080ff, 0 0 4rem #0080ff, 0 0 5.5rem #0080ff, 0 0 7.5rem #0080ff;
    }
}

#neonhighlighter {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, 0.8);
    opacity: 0;
    border-radius: 1rem;
}

#neonhighlighter.on {
    animation-name: highlight;
    animation-duration: .4s;
    animation-iteration-count: 1;
}

@keyframes highlight {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}
