/* SCREEN */

#screens .on rect {
    stroke: #710000;
    stroke-miterlimit: 10;
    stroke-width: 4px;
    fill: #cc2d00;
}

#screens .off rect {
    fill: #4d4d4d;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 4px;
}

#screens .on>path:first-of-type {
    fill: #f7ad8d;
}

#screens .off>path:first-of-type {
    fill: #666;
}

#screens .on>path:last-of-type {
    fill: #700;
}

#screens .off>path:last-of-type {
    fill: #333;
}

#screens .on g * {
    fill: #f7931e;
}

#screens .off g * {
    fill: gray;
}

/* ARROWS */
