/* ORGAN: Arrows */
#arrowsclone path,
#arrowsclone line,
#arrowsclone polygon,
#arrowsblur path,
#arrowsblur line,
#arrowsblur polygon {
    animation-name: glow_arrows;
    animation-duration: 8s;
    animation-iteration-count: 1;
}

#arrowsclone polygon,
#arrowsblur polygon {
    animation-name: glow_arrowheads;
}

@keyframes glow_arrows {
    0% {
        stroke: #000
    }

    25% {
        stroke: #ffbb33;
    }

    30% {
        stroke: #ffeb00;
    }

    35% {
        stroke: #ffbb33;
    }

    45% {
        stroke: #ffbb33;
    }

    100% {
        stroke: #000;
    }
}

@keyframes glow_arrowheads {
   0% {
        fill: #000
    }

    25% {
        fill: #ffbb33;
    }

    30% {
        fill: #ffeb00;
    }

    35% {
        fill: #ffbb33;
    }

    45% {
        fill: #ffbb33;
    }

    100% {
        fill: #000;
    }
}